.crypto-details {
      .crypto-details-hero {
            background-image: url(../images/headerbg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 50px;
            position: relative;
            margin-top: 50px;
            width: 100%;
            h1 {
                  margin-top: 80px;
                    background: rgb(0,0,0, 0.5);
            padding: 20px; 
            }
            &::before {
                  content: '';
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background: rgba(0,0,0,0.455);
            }
      }
      h1, h2, h4 {
            font-size: calc(20px + 0.5vh);
            text-align: center;
            color: gold;
            margin-top: 100px;
            margin-bottom: 20px;
            position: relative;
            z-index: 20;
      }

      h1 {

            position: relative;
            z-index: 20;
            margin-top: 100px;
      }

      h2 {
            font-size: calc(17px + 0.5vh);
      }
      h4 {
            font-size: calc(13px + 0.5vh);
            font-weight: 100;
            margin: 20px 0 50px 0;
            color: white;
      }
      p {
            font-size: calc(13px + 0.5vh);
            text-align: center;
            color: white;
      }

      select {
            min-width: 200px;
            margin-top: 50px;
            margin-bottom: 20px;
      }
      .currency-stat, .all-currency-stat {
            padding: 20px;
            .stat-item {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 10px;
                  p {
                        margin: 10px;
                        text-align: left;
                  }
                  .stat-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                  }
            }
      }

      .crypto-description {
            padding: 20px;
            h3 {
                  margin: 20px 0;
                  font-size: calc(15px + 0.5vh);
                  color: gold;
            }
            p {
                  text-align: justify;
                  line-height: calc(30px + 0.5vh);
            }
      }
      .more-info {
            .links {
                  margin: 20px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  p {
                        text-align: left;
                        text-transform: capitalize;
                  }
                  a {
                        text-decoration: none;
                        color: red;
                        text-align: left;
                  }
            }
      }
}

@media (min-width: 688px) {
      .crypto-details {
            .statistics-container,
            .crypto-more-info {
                  display: flex;
                  justify-content: space-between;
                  Align-items: flex-start;
            }
            .currency-stat,
            .all-currency-stat {
                  width: 50%;
                  margin:  10px;
            }

      }
      .more-info,
      .crypto-description {
            width: 50%;
            margin: 10px;
      }
}