.exchanges {
      min-width: 100%;
      margin-top: 120px;
      .exchange-header {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            padding: 10px 5px;
            gap: 20px;
            border-top: 2px #8080807e solid;
            border-bottom: 2px #8080807e solid;
            h5 {
                  color: gold;
                  font-size: calc(13px + 0.5vh);
            }
      }
      .exchange-item {
            &:nth-child(odd) {
                  //  background: white;
            }
            li {
                  width: 100%;
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  align-items: center;
                  padding: 20px 10px;
                  gap: 25px;
                  border-bottom: 1px #ffd700 solid;
                  p {
                        font-size: calc(13px + 0.5vh);
                        color: white;
                  }
            }
      }
      .exchange-desc {
            background: black ;
            border-bottom: 1px solid gold;
            border-top: 1px solid gold;
            padding: 20px;
            p {
                  text-align: justify;
                  color: white;
                  font-size: calc(13px + 0.5vh);
                  line-height: calc(26px + 0.5vh);
                  h2,
                  h1,
                  h3 {
                        color: gold ;
                        margin: 20px 0;
                  }
                  a {
                        text-decoration: none;
                        color: gold ;
                        font-weight: bold;
                        font-style: italic;
                  }
            }
      }
}