.homepage {
      width: 100%;
      overflow: hidden;
      //   padding: 50px 0;
      .heading {
            font-size: calc(20px + 0.5vh);
            text-align: center;
            margin: 150px 0 50px 0;

      }

      .cryptos-list {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            padding: 20px;
            .item {
                  h4 {
                        color: rgba(0, 0, 0, 0.6);
                        margin: 10px 0;
                        font-size: calc(10px + 0.5vh);
                  }
                  p {
                        font-size: calc(20px + 0.5vh);
                        color: red;
                  }
            }
      }
      .top-crypto, .top-crypto-news {
            margin-top: 100px;
            a {
                  text-decoration: none;
                  font-size: calc(15px + 0.5vh);
            }
            .more {
                  font-size: calc(15px + 0.5vh);
                  float: right;
                  margin-right: 20px;
                  color: red;
                  font-weight: bold;
                  margin: 20px;
            }
      }
}