.Loader {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .bar {
            width: 80%;
            border: 1px gold solid;
            height: 5px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            .moving-bar {
                  position: absolute;
                  left: 0;
                  top: 0;
                  border-radius: 10px;
                  height: 100%;
                  width: 1000%;
                  background: rgb(177, 151, 86);
                  animation: move 1s ease-in-out infinite;
            }
            @keyframes move {
                  0% {
                        width: 10%;
                  }
                  100% {
                        width: 100%;
                  }
            }
      }
      p {
            font-size: calc(10px + 0.5vh);
            color: white;
            text-align: center;
            margin-top: 30px;
      }
}